body{
    background: linear-gradient(180deg, #000 0%, #030C3D 100%);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25) inset;
    height: 2745px;
    width: 1440px;
}
.landing-page {
    background-color: rgba(255, 255, 255, 1);
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }
  
  .div {
    background: linear-gradient(180deg, rgb(0, 0, 0) 0%, rgb(3.28, 12.45, 60.56) 100%);
    background-color: rgba(255, 255, 255, 1);
    height: 2745px;
    position: relative;
    width: 1440px;
  }
  
 .header-struct {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 36px;
    font-weight: 400;
    left: 155px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 58px;
    width: 100px;
  }
  
.contato {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 32px;
    font-weight: 400;
    left: 1090px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 81px;
    width: 161px;
    text-decoration: none;
  }
  
.overlap-group {
    height: 79px;
    left: 58px;
    position: absolute;
    top: 2595px;
    width: 176px;
  }
  
.empresa-jnior-de {
    height: 49px;
    left: 251px;
    position: absolute;
    top: 2605px;
    width: 285px;
  }
  
.unb-bras-lia-DF {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 22px;
    font-weight: 400;
    left: 918px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 2577px;
    width: 420px;
  }
  
.foguete-struct {
    height: 152px;
    left: 646px;
    object-fit: cover;
    position: absolute;
    top: 30px;
    width: 148px;
  }
  
.titulo {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 64px;
    font-weight: 600;
    left: 64px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 305px;
    width: 382px;
  }
  
.desenvolvendo {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 21px;
    font-weight: 300;
    left: 464px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 299px;
    width: 444px;
  }
  
.trabalhamos-com {
    color: #ffffff;
    font-family: "Inter-Light", Helvetica;
    font-size: 20px;
    font-weight: 300;
    left: 751px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: right;
    top: 519px;
    transform: rotate(0.61deg);
    width: 198px;
  }
  
.subtitulo {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 969px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 520px;
    width: 262px;
  }
  
.text-wrapper-2 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 32px;
    font-weight: 600;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 841px;
    width: 356px;
  }
  
.textao {
    color: #ffffff;
    font-family: "Inter-Regular", Helvetica;
    font-size: 20px;
    font-weight: 400;
    left: 119px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 901px;
    width: 708px;
    text-align: justify;
  }
  
.text-wrapper-3 {
    color: #ffffff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 168px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1364px;
    width: 375px;
  }
  
.text-wrapper-4 {
    color: #3b95ff;
    font-family: "Inter-SemiBold", Helvetica;
    font-size: 36px;
    font-weight: 600;
    left: 550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 1364px;
    width: 243px;
  }
  
.dom-giovani{
    height: 585px;
    left: 973px;
    object-fit: cover;
    position: absolute;
    top: 1479px;
    width: 310px;
  }
  
.galois{
    height: 585px;
    left: 565px;
    object-fit: cover;
    position: absolute;
    top: 1479px;
    width: 310px;
  }
  
.bsb-grill {
    height: 585px;
    left: 168px;
    object-fit: cover;
    position: absolute;
    top: 1479px;
    width: 310px;
  }
  
.overlap {
    background-image: url(./rectangle-12.svg);
    background-size: 100% 100%;
    height: 66px;
    left: 576px;
    position: absolute;
    top: 2151px;
    width: 288px;
  }
  
  
.foto-struct {
    height: 325px;
    left: 890px;
    object-fit: cover;
    position: absolute;
    top: 868px;
    width: 337px;
  }
  
.astronauta {
    height: 87px;
    left: 47px;
    object-fit: cover;
    position: absolute;
    top: 59px;
    width: 92px;
  }
  
.line {
    height: 5px;
    left: 0;
    position: absolute;
    top: 2523px;
    width: 643px;
  }
  
.line-2 {
    height: 5px;
    left: 797px;
    position: absolute;
    top: 2521px;
    width: 643px;
  }
  
.foguete-struct-2 {
    height: 112px;
    left: 665px;
    object-fit: cover;
    position: absolute;
    top: 2470px;
    width: 112px;
  }
.Quero {
    width: 288px;
    height: 66px;
    flex-shrink: 0;
    background-color: #3C95FF;
    border-radius: 64px;
    font-size: large;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

    
  }
.footer{
    color: #ffffff;
    font-size: 22px;
    font-weight: 400;
    left: 20px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: left;
    top: 2577px;
    width: 420px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif

}

  